body {
    font-family: Arial, sans-serif;
}

/* Box Model */
.box {
    margin: 40px;
    padding: 20px;
    border: 4px solid blue;
    background-color: #e6f2ff;
    width: 250px;
    height: 150px;
}

/* Relative Position */
.relative-box {
    position: relative;
}

/* Absolute Position */
.absolute-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orange;
    padding: 5px;
    border: 2px solid black;
}

/* Fixed Position */
.fixed-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 10px;
}